* {
    box-sizing: border-box;
    font-family: 'Albert sans', sans-serif;
}

:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #97744D;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: 'Albert sans', sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000000;
  --bs-body-color-rgb: rgb(0, 0, 0);
  --bs-body-bg: #FFEAC8;
  --bs-body-bg-rgb:rgb(255, 234, 200);
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: #000;
  --bs-secondary-color-rgb: rgb(0, 0, 0);
  --bs-secondary-bg: #A9BC7F;
  --bs-secondary-bg-rgb: rgb(169, 188, 127);
  --bs-tertiary-color: #fff;
  --bs-tertiary-color-rgb: rgb(255, 255, 255);
  --bs-tertiary-bg: #23331E;
  --bs-tertiary-bg-rgb: rgb(35, 51, 30);
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

:root,
[data-bs-theme=dark] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #97744D;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: 'Albert sans', sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000000;
  --bs-body-color-rgb: rgb(0, 0, 0);
  --bs-body-bg: #FFEAC8;
  --bs-body-bg-rgb:rgb(255, 234, 200);
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: #000;
  --bs-secondary-color-rgb: rgb(0, 0, 0);
  --bs-secondary-bg: #A9BC7F;
  --bs-secondary-bg-rgb: rgb(169, 188, 127);
  --bs-tertiary-color: #fff;
  --bs-tertiary-color-rgb: rgb(255, 255, 255);
  --bs-tertiary-bg: #23331E;
  --bs-tertiary-bg-rgb: rgb(35, 51, 30);
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

a {
    color: inherit;
    text-decoration: none;
}

.color-secondary {
    color: var(--bs-secondary-color);
    background-color: var(--bs-secondary-bg);
}

.color-tertiary {
    color: var(--bs-tertiary-color);
    background-color: var(--bs-tertiary-bg);
}

p {
    font-size: 1.25rem;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 0.9166666666666667rem + 2.7777777777777777vw, 3rem);
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    font-size: clamp(2rem, 1.1111111111111112rem + 1.8518518518518516vw, 2.5rem);
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.16666666666666674rem + 2.7777777777777777vw, 2.25rem);
}

button, .nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

button.bubr {
    background-color: var(--bs-primary);
    color: #fff;
    border-radius: 8px;
}

.bubr:hover {
    border: var(--bs-primary) 3px solid;
    background-color: var(--bs-body-bg);
    color: #000;
}

.bugr {
    background-color: var(--bs-secondary-bg);
    color: #000;
    border-radius: 8px;
}

.bugr:hover {
    border: var(--bs-secondary-bg) 3px solid;
    background-color: var(--bs-body-bg);
}

.nav-link {
    border-radius: .5rem;
    color: var(--bs-tertiary-color);
    background-color: var(--bs-tertiary-bg);
}

.nav-link:hover {
    color: var(--bs-secondary-color);
    background-color: var(--bs-secondary-bg);
}

.fa-brands {
    font-size: 2rem;
}

.navbar-toggler {
    border: 0;
    font-size: 3rem;
}

.navbar {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-tertiary-color);
}

.brand {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}

.mainhero {
    background-image: url("../images/hero.jpg");
    background-color: #0008;
    background-blend-mode: multiply;
    height: 360px;
    background-size: cover;
    background-position: center;
}

.reshero {
    background-image: url(../images/resheader.jpg);
}

.abthero {
    background-image: url(../images/faq.jpg);
}

.hero {
    color: #fff;
    background-color: #0008;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.galimg {
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
    transition: all 500ms;
}

.galimg:nth-child(1) {
    background-image: url(../images/gallery1salad.jpg);
}

.galimg:nth-child(2) {
    background-image: url(../images/gallery2pasta.jpg);
}

.galimg:nth-child(3) {
    background-image: url(../images/gallery3pie.jpg);
}

.galimg:nth-child(4) {
    background-image: url(../images/gallery4pasta.jpg);
}

.galimg:nth-child(5) {
    background-image: url(../images/gallery5soup.jpg);
}

.galimg:nth-child(6) {
    background-image: url(../images/gallery6pizza.jpg);
}

.galinfo {
    display: none;
    height: 100%;
    width: 100%;
    transition: all 500ms;
}

.galimg:hover .galinfo {
    display: flex;
}

.curve {
    border-radius: 8px;
}

.abt {
    color: #fff;
    background-color: #0008;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-image: url(../images/aboutteamphoto.jpg);
    height: 400px;
}

.map {
    aspect-ratio: 1;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 360px;
    }
}

@media screen and (min-width: 992px) {
    .mainhero {
        background-color: var(--bs-tertiary-bg);
        background-image: none;
        height: auto;
    }

    .hero {
        height: 400px;
    }
}